<section>

 <img src="../assets/heroe.gif" alt="" class="heroe">
<img src="../assets/{{enemy.avatar}}" alt="" class="enemy">

<div class="containerStats">
  <h1 class="nameBoss">{{enemy.name}}
  </h1>
  <img src="../assets/bosses.png" alt="" class="icon">
  <progress  class="bossHp" value={{enemy.HP}} max="{{enemy.maxHP}}"></progress>
  <div class="containerHP">
    <span class="valueAvatarHP">
      HP {{heroe.HP}}/{{heroe.maxHP}}
    </span>
    <progress  class="avatarHP" value="{{heroe.HP}}" max={{heroe.maxHP}} style="background-color: transparent;"></progress>
  </div>
 
  <div class="containerMP">
    <span class="valueAvatarMP">
      MP {{heroe.MP}}/{{heroe.maxMP}}
    </span>
    <progress  class="avatarMP" value={{heroe.MP}} max={{heroe.maxMP}} style="background-color: transparent;"></progress>
  </div>
</div>
  <div class="containerOptions">
    <ul>
      <button class="lista" (click)="ejecutarAccion('ATACAR')">ATACAR</button>
      <button class="lista" (click)="ejecutarAccion('HABILIDADES')">HABILIDADES</button>
      <button class="lista" (click)="ejecutarAccion('DEFENDER')">DEFENDER</button>
    </ul>
  </div>

</section>